.scroll-svg {
  width: 30px;
  height: 100%;
  fill: rgb(255, 255, 255, 0.4);
}

.scroll-down-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.scroll-text {
  font-size: 18px;
  color: rgb(255, 255, 255, 0.4);
  line-height: 1.667;
  margin-right: 10px;

}
