.welcome-section {
  background: url("~images/content/train.jpg") no-repeat;
  background-size: cover;
}

.section-feedsandform {
  background: url("~images/content/atumn.png") no-repeat;
  background-size: cover;
}
