.welcome-section {
  background: url("~images/content/train.jpg") no-repeat, url('~images/content/rectangle.png') round;
  
}

.section-feedsandform {
  background: url("~images/content/atumn.png") no-repeat;
  background-size: cover;
}
