.tags__list{
  display: flex;
  margin-bottom: 33px;
}

.tags__item {
  padding: 10px 20px;
  border-radius: 15px;
  margin-right: 5px;
  background: #f3f5f9;


  &:last-child {
    margin-right: 0;
  } 
}


