section.feeds(@click="checkArrows" @touchend="checkArrows")
  //+image('content/leafs.png', "feed__leafs")  
  .container.container-feeds
    .feeds__tilte
      p.feeds__tilte--text Что обо мне говорят
      .feeds__button 
        button(@click="previous()" :disabled="true").feeds__button-left <
        button(@click="next()" :disabled="false").feeds__button-right >
    #feeds-component 