section.forms
  .container.container-forms
    h2.forms__title Связаться со мной 
    form.forms__blocks
      .forms__block-one
        label.forms__block-name 
          .forms__block-label Введите ваше имя
          input.forms__block-input--name(name='name', type='text', required='')
          +icon('user', "form__icon-user") 
      
        label.forms__block-mail 
          .forms__block-label Введите ваш email
          input.forms__block-input--mail(name='mail', type='text', required='')
          +icon('envelope', "form__icon-mail") 

      .forms__block-two
        label.forms__block-text
          .forms__block-label Сообшение к письму
          input.forms__block-input--text(name='comment',type='text', maxlength="100" required='')
          +icon('message', "form__icon-text") 

      .forms__block-flag--btn
        button.forms__block-button() Отправить