#hamburger-menu.hamburger-menu
  .hamburger-menu__items
    nav.nav.nav_hamburger
      ul.nav__list
        li.nav__item
          a#nav__link.nav__link(href='') Главная
        li.nav__item
          a#nav__link.nav__link(href='') Обо мне
        li.nav__item
          a#nav__link.nav__link(href='') Навыки
        li.nav__item
          a#nav__link.nav__link(href='') Работы
        li.nav__item
          a#nav__link.nav__link(href='') Отзывы
        li.nav__item
          a#nav__link.nav__link(href='') Связаться

    .socials-menu
      - var icons = ["insta", "vk", "github"]
        ul.socials  
          each item, index in icons
            li.socials__item
              a(href="").socials__link
                +icon(item, "socials__icon--menu")      
    a(href="").hamburger-menu__close
      +icon('Cross', "close-icon")