#hamburger-menu.hamburger-menu
  .hamburger-menu__items
    nav.nav.nav_hamburger
      ul.nav__list
        li.nav__item
          a#nav__link.nav__link(href='#main' ) Главная
        li.nav__item
          a#nav__link.nav__link(href='#about') Обо мне
        li.nav__item
          a#nav__link.nav__link(href='#useful') Навыки
        li.nav__item
          a#nav__link.nav__link(href='#works') Работы
        li.nav__item
          a#nav__link.nav__link(href='#feeds') Отзывы
        li.nav__item
          a#nav__link.nav__link(href='#forms') Связаться

    .socials-menu
      - var icons = ["insta", "vk", "github"]
        ul.socials  
          each item, index in icons
            li.socials__item
              a(href="").socials__link
                +icon(item, "socials__icon--menu")      
    button.hamburger-menu__close
      +icon('Cross', "close-icon")