
#hamburger-menu.hamburger-menu
  .hamburger-menu__items
    nav.nav.nav_hamburger
      ul.nav__list
        li.nav__item
          a#nav__link.nav__link(href='') Главная
        li.nav__item
          a#nav__link.nav__link(href='') Обо мне
        li.nav__item
          a#nav__link.nav__link(href='') Навыки
        li.nav__item
          a#nav__link.nav__link(href='') Работы
        li.nav__item
          a#nav__link.nav__link(href='') Отзывы
        li.nav__item
          a#nav__link.nav__link(href='') Связаться
  a.hamburger-menu__close(href='#')
   