section.parallax
  .parallax__layer(data-speed="0")
    +image('content/layer-01.png', "parallax__image")
  .parallax__layer(data-speed="0.2")
    +image('content/layer-02.png', "parallax__image")
  .parallax__layer(data-speed="0.4")
    +image('content/layer-03.png', "parallax__image")
  .parallax__layer(data-speed="0")
    +image('content/layer-04.png', "parallax__image")
  .parallax__layer(data-speed="0")
    +image('content/layer-05.png', "parallax__image")
  .parallax__layer(data-speed="0")
    +image('content/layer-06.png', "parallax__image")
  .parallax__layer(data-speed="0")
    +image('content/layer-07.png', "parallax__image")
  