section.parallax
  .parallax__layer(data-speed="0")
    +image('content/layer-01.png', "parallax__image")
  .parallax__layer(data-speed="0.5")
    +image('content/layer-02.png', "parallax__image")
  .parallax__layer(data-speed="0.7")
    +image('content/layer-03.png', "parallax__image")
  .parallax__layer(data-speed="0.95")
    +image('content/layer-04.png', "parallax__image")
 

  +image('content/layer-07.png', "parallax__image-bl")
  