section.useful
  .container.container-useful 
    .useful__head
      p.useful__title Чем я могу быть полезен вам
      .useful__desc
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все класно и красиво!
    #skills-component
    .useful__hand         
      +image('content/hands.png', "useful__img")      
