-
  var skills = [
    ['Front-end', [
      ['HTML5', '-15s'],
      ['CSS3', '-15s'],
      ['JScript', '-15s'],
      ['Vue.js', '-15s']]
    ],
    ['Workflow',[
      ['GIT', '-15s'],
      ['Terminal', '-15s'],
      ['Gulp', '-15s'],
      ['Webpack', '-15s']]
    ]
  ];
section.useful
  .container.container-useful 
    .useful__head
      p.useful__title Чем я могу быть полезен вам
      .useful__desc
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все класно и красиво!
    #skills-component
    .useful__hand         
      +image('content/hands.png', "useful__img")      
